

table.rect_planning {
    border-collapse: separate;
    border-spacing: 10px;
}

#block_container
{
    text-align:center;
}
#bloc1, #bloc2, #bloc3, #bloc4
{
    height: 40px;
}
.rec_etud{
    background: #009688;
    color: white;
}

.rec_tut{
    background: green;
    color: white;
}

.rec_prof1{
    background: #03A9F4;
    color: white;
}

.rec_prof2{
    background: #ff5722;
    color: white;
}

.creneau_element {
    padding: 4px;
    border-radius: 7px;
    max-width: 120px;
    display: inline-block;
    text-align: center;
}

.creneau_draft{
    margin: 0 2px;

}

.creneau_element p{
    font-weight: bold;
    line-height: normal;
    display: inline-block;
    vertical-align: middle;
}

.fixed_header thead{
    display: inline-table;
}

.fixed_header tbody{
    display: block;
    overflow: auto;
    margin-right: -5px;
}

.fixed_header tbody::-webkit-scrollbar {
    display: none;
}

.horaire{
    width:65px;
}

#printArea tr {
    border: 1px solid white;
}