

table.rect_planning {
    border-collapse: separate;
    border-spacing: 10px;
}

#block_container
{
    text-align:center;
}
#bloc1, #bloc2, #bloc3, #bloc4
{
    height: 40px;
}
.rec_etud{
    background: #009688;
    color: white;
}

.rec_tut{
    background: green;
    color: white;
}

.rec_prof1{
    background: #03A9F4;
    color: white;
}

.rec_prof2{
    background: #ff5722;
    color: white;
}

.creneau_element {
    padding: 4px;
    border-radius: 7px;
    width: 100px;
    height: 50px;
    display: inline-block;
    text-align: center;
}

.creneau_element p{
    display:        table-cell;
    vertical-align: middle;
    text-align: center;
}