.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

body {
  padding: 0;
}

/* Everything but the jumbotron gets side spacing for mobile first views */
.header,
.marketing,
.footer {
  padding-left: 15px;
  padding-right: 15px;
}

/* Custom page header */
.header {
  border-bottom: 1px solid #e5e5e5;
  margin-bottom: 0px;
}
/* Make the masthead heading the same height as the navigation */
.header h3 {
  margin-top: 0;
  margin-bottom: 0;
  line-height: 40px;
  padding-bottom: 19px;
}

/* Custom page footer */
.footer {
  padding-top: 19px;
  color: #777;
  border-top: 1px solid #e5e5e5;
}

.container-narrow > hr {
  margin: 5px 0;
}

/* Main marketing message and sign up button */
.jumbotron {
  text-align: center;
  border-bottom: 1px solid #e5e5e5;
}
.jumbotron .btn {
  font-size: 21px;
  padding: 14px 24px;
}

/* Supporting marketing content */
.marketing {
  margin: 40px 0;
}
.marketing p + h4 {
  margin-top: 28px;
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
  .container {
    max-width: 730px;
  }

  /* Remove the padding we set earlier */
  .header,
  .marketing,
  .footer {
    padding-left: 0;
    padding-right: 0;
  }
  /* Space out the masthead */
  .header {
    margin-bottom: 5px;
  }
  /* Remove the bottom border on the jumbotron for visual effect */
  .jumbotron {
    border-bottom: 0;
  }
}

.container-large {
	width: 80%;
	max-width: 80%;
}

#unavailabilities .table > tbody > tr > td {
	padding: 0;
}

#unavailabilities .table .btn {
	padding: 0 30px;
	margin: 3px 1px;
}

#unavailabilities .table .checkbox {
	margin: 3px 0;
}

.check:before {
  color: #f44336 !important;
}

.check {
  border-color: grey !important;
}

.h1 {
  margin-top: 10px;
}

/* show the move cursor as the user moves the mouse over the panel header.*/
#contraintesList .panel-heading {
  cursor: move;
}

#contraintesList {
  margin: 0;
}

#contrainte-enseignants, #contrainte-tuteurs, #contrainte-horaires {
  margin: 0px;
}

body {
  background: #00cc99;
}

#loader {
  width: 100px;
  height: 40px;
  position: absolute;
  top: 50%;
  left: 50%;
  margin: -20px -50px;
}
#loader div {
  width: 20px;
  height: 20px;
  background: #FFF;
  border-radius: 50%;
  position: absolute;

}
#d1 { animation: animate 2s linear infinite;}
#d2 { animation: animate 2s linear infinite -.4s; }
#d3 {animation: animate 2s linear infinite -.8s; }
#d4 { animation: animate 2s linear infinite -1.2s; }
#d5 { animation: animate 2s linear infinite -1.6s; }
@-webkit-keyframes animate {
  0% { left: 100px; top:0}
  80% { left: 0; top:0;}
  85% { left: 0; top: -20px; width: 20px; height: 20px;}
  90% { width: 40px; height: 15px; }
  95% { left: 100px; top: -20px; width: 20px; height: 20px;}
  100% { left: 100px; top:0; }
}

.planning .table td, .planning .table th {
   text-align: center;   
   border: 0;
}

.even {
	background: #FFFFBB;
}

.odd {
	background: #FFFFDD;
}

/**
GenratedPlanning.html
*/

.csv_file_name{
  font-size: 14px;
}

.right-button{
  float: right;
}


.unavailable_drop_design{
  background-color: #d6d6d6;
}


.rectangle_creneau{
  height : 65px;
}

.titre {
  display: inline-block;
  margin-left: 10px;
  max-width: 40%;
  font-weight: 500;
  font-size: 16px;
}
.glyphicon.glyphicon-info-sign{
  font-size: 20px;
}