<link rel="stylesheet" href="app/styles/drag_drop.css" media="all">
<link rel="stylesheet" href="app/styles/mobile_generatedPlanning.css" media="all">

<div class="fixed row">
    <div class="col-md-12">
        <a href="/#/">
            <button type="button" class="btn btn-primary"><i class="glyphicon glyphicon-arrow-left"></i></button>
        </a>
        <button type="text" class="btn btn-raised btn-sm btn-success hidden-xs" ng-click="printIt()">Télécharger le planning</button>

        <span class="titre">{{name}}</span>
		<div class="csv_file_name">Fichier csv : {{csv_file}}</div>

	</div>
</div>

<div ng-show="error" class="pangel panel-danger">
	Le planning n'a pas encore été généré par l'administrateur.
</div>

<div ng-hide="error" class="panel panel-default planning desktop visible-lg">
	<table id="printArea" class="table fixed_header">
		<thead>
		<tr>
			<th class="odd horaire">Horaire</th>
			<th  class="room_name" ng-repeat="room in creneaux.salles" ng-class="{'even':$even, 'odd':$odd}" my-repeat-directive-planning>Salle {{room.name}}</th>
		</tr>
		</thead>
		<tbody>
		</tbody>
	</table>
</div>

<div ng-hide="error" class="panel panel-default planning visible-xs">
	<table  class="table">

		<tbody ng-repeat="(key, jour) in creneaux.creneaux | orderBy:key">

		<tr>
			<th class="info" colspan="100%">{{key | date:'dd MMMM yyyy'}}</th>
		</tr>

		<tr ng-repeat="horaire in jour" ng-show="horaire[0].horaire.length>0">

			<td class="odd">{{horaire[0].horaire}}</td>
			<div ng-repeat="room in creneaux.salles track by $index" ng-class="{'even':$even, 'odd':$odd}">


			<td ng-repeat="creneau in horaire" ng-class="{'even':$even, 'odd':$odd}" my-repeat-directive-planning>
				<strong>{{creneaux.salles[$index].name}}</strong>
				<div id="block_container col-lg-12 visible-xs">
					<!--<div ng-repeat="room in creneaux.salles"  ng-class="{'even':$even, 'odd':$odd}" class="visible-xs"><strong>{{creneaux.salles[0].name | capitalize:true}}</strong></div>-->
					<div class="rec_etud col-lg-2 col-lg-offset-1 visible-xs" id="bloc1"><strong>{{creneau.student.name | emailToName | capitalize:true}}</strong></div>
					<div class="rec_tut col-lg-2 col-lg-offset-1 visible-xs" id="bloc2"> <strong>{{creneau.tuteur.name | capitalize:true}} </strong></div>
					<div class="rec_prof1 col-lg-2 col-lg-offset-1 visible-xs" id="bloc3"><strong> {{creneau.enseignant.name | emailToName | capitalize:true}} </strong></div>
					<div class="rec_prof2 col-lg-2 col-lg-offset-1 visible-xs" id="bloc4"> <strong>{{creneau.candide.name | emailToName | capitalize:true}} </strong></div>
				</div>

			</td>
			</div>
		</tr>

		</tbody>
	</table>



</div>