<link rel="stylesheet" href="app/styles/drag_drop.css" media="all">
<a href="/#/">
    <button type="button" class="btn btn-primary"><i class="glyphicon glyphicon-arrow-left"></i></button>
</a>
<button type="text" class="btn btn-raised btn-sm btn-primary" ng-click="printIt()">Imprimer</button>
<div class="right-button">
    <button type="button" class="btn btn-raised btn-sm btn-success">Enregistrer les modifications</button>
    <button ng-hide="error" type="button" id="rotate" class="btn btn-primary" onclick="show_hide_creneaux()"><i class="glyphicon glyphicon-chevron-up"></i></button>
</div>

<div ng-show="error" class="pangel panel-danger">
    Le planning n'a pas encore été généré par l'administrateur.
</div>

<div ng-hide="error" class="panel panel-default planning">
    <table id="printArea" class="table">
        <thead>
        <tr>
            <th class="odd">Horaire</th>
            <th ng-repeat="room in creneaux.salles" ng-class="{'even':$even, 'odd':$odd}">Salle {{room.name}}</th>
        </tr>
        </thead>
        <tbody ng-repeat="(key, jour) in creneaux.creneaux | orderBy:key">
        <tr>
            <th class="info" colspan="100%">{{key | date:'dd MMMM yyyy'}}</th>
        </tr>
        <tr ng-repeat="horaire in jour" class="line_creneau" my-repeat-directive>
            <!-- <td>{{horaire[0].periode}}</td> -->
            <td class="odd">{{horaire[0].horaire}}</td>

            <td ng-repeat="room in creneaux.salles" ng-class="{'even':$even, 'odd':$odd}" class="creneau">
                <div ng-if="horaire[$index].student != null" ng-class="{'selected': models.selected === creneau}" class="event" draggable="true">


					<table width="100%" class="rect_planning">
						<tr>
							<td class="rec_etud" width="20%">{{horaire[$index].student.name | emailToName | capitalize:true}}</td>
							<td  class="rec_tut" width="20%"> {{horaire[$index].student.tuteur.name | capitalize:true}}</td>
							<td  class="rec_prof1" width="20%"> {{horaire[$index].student.enseignant.name | emailToName | capitalize:true}}</td>
							<td  class="rec_prof2" width="20%"> {{horaire[$index].candide.name | emailToName | capitalize:true}}</td>

                        </tr>
                    </table>
                </div>


            </td>
            <!--
                        <td ng-repeat="creneau in horaire" ng-class="{'even':$even, 'odd':$odd}" class="creneau" >
                        </td>-->
        </tr>
        </tbody>
    </table>
</div>
<div class="right-button">
    <button type="button" class="btn btn-raised btn-sm btn-success">Enregistrer les modifications</button>
    <button ng-hide="error" type="button" id="rotate" class="btn btn-primary" onclick="show_hide_creneaux()"><i class="glyphicon glyphicon-chevron-up"></i></button>
</div>
<script src="../app/scripts/assets/generatedDraft.js"></script>