<link rel="stylesheet" href="app/styles/mobile_main.css" media="all">

<div id="page-inner" ng-show="connected">
	<div class="panel panel-primary" id="home-info">
		<div class="panel-heading">
			<h3 class="panel-title">Bienvenue sur PossiCat</h3>
		</div>
		<div class="panel-body">
			<p>Vous êtes connecté en tant que {{user.firstName}} {{user.lastName}}<span ng-if="user.role == 'PROF'">, professeur à l'université.</span>
			<span ng-if="user.role != 'PROF'">, étudiant à l'université.</span></p>
			PossiCat est un outil permettant de simplifier la planification de soutenances. Accédez aux plannings vous concernant dans
			le tableau ci-dessous, et saisissez vos indisponibilités.</p>
			<button class="btn btn-flat btn-sm" ng-click="closeHomeInfo()">Fermer </button>
		</div>
	</div>
	<div class="row">
		<div class="col-md-12">
			<h1 class="page-head-line">Mes plannings <a ng-hide="user.role != 'PROF'" class="btn btn-raised btn-sm btn-success hidden-xs" href="#/planning/create">
							<i class="fa fa-dashboard "></i>Créer planning</a></h1> 
		</div>
	</div>
	<div class="row">
		<div class=" col-md-12 col-sm-=12">
				<table class="table table-striped table-bordered table-hover">
					<thead>
						<tr>
							<th>Planning</th>
							<th>Admin</th>
							<th>Début</th>
							<th>Fin</th>
							<th>Actions</th>
						</tr>
					</thead>
					<tbody>
						<tr ng-repeat="planning in plannings">
							<td>{{ planning.name }}</td>
							<td>
								{{ planning.admin.firstName }} {{ planning.admin.lastName }}
							</td>
							<td>{{ planning.period.from | date:'dd/MM/yyyy' }}</td>
							<td>{{ planning.period.to | date:'dd/MM/yyyy' }}</td>
							<td>
								<a href="#/unavailabilities/{{ planning.id }}" class="btn btn-raised btn-sm btn-success hidden-xs">
									Saisir indisponibilités
								</a>
								<a ng-hide="planning.admin.uid != user.uid" href="#/planning/{{ planning.id }}" class="btn btn-raised btn-sm btn-success hidden-xs">
									Gérer le planning
								</a>
								<a data-toggle="tooltip" title="Voir le planning" ng-show="exported.indexOf(planning.id)!=-1" class="btn btn-raised btn-sm btn-success" href="#/generatedPlanning/{{ planning.id }}"><i class="glyphicon glyphicon-calendar"></i></a>
								<a data-toggle="tooltip" title="Créer un draft" ng-show="exported.indexOf(planning.id)!=-1 && planning.admin.uid == user.uid"  href="#/duplicatePlanning/{{ planning.id }}" class="btn btn-raised btn-sm btn-info hidden-xs">
									<i class="glyphicon glyphicon-duplicate"></i>
								</a>
								<a data-toggle="tooltip" title="Supprimer le planning"confirmed-click="remove({{ planning.id }})"
							ng-confirm-click="Êtes vous sûr de vouloir supprimer ce planning?" ng-hide="planning.admin.uid != user.uid" class="btn btn-raised btn-sm btn-danger hidden-xs"><i class="glyphicon glyphicon-remove"></i></a>
							</td>
						</tr>
					</tbody>
				</table>



			<div class="row" id="home-spinner">
				<div class="col-md-2 col-md-offset-5">
					<img src="app/images/spin.svg">
				</div>
			</div>
		</div>
	</div>

	<!-- /. PAGE INNER  -->
</div>
<div ng-show="!connected" class="row">
	<div class="col-md-8 col-md-offset-2">
		<h4>Connexion avec l'Université de Rennes1 en cours...</h4>
	</div>
	<div id="loader">
		<div id="d1"></div>
		<div id="d2"></div>
		<div id="d3"></div>
		<div id="d4"></div>
		<div id="d5"></div>
	</div>
</div>