
<div id="page-inner">
	<div class="row">
		<div class="col-md-12">
			<h1 class="page-head-line">
				<a href="/#/">
					<button type="button" class="btn btn-primary"><i class="glyphicon glyphicon-arrow-left"></i></button>
				</a>
				{{ planning.name }}
					<a ng-hide="noParticipants || isGenerated" ng-click="validate()" class="btn btn-raised btn-sm btn-success">Générer planning</a>
					<!--<a ng-hide="noParticipants" title="Supprimer le dernier planning généré" confirmed-click="reinitialize()"
							ng-confirm-click="Êtes vous sûr de vouloir supprimer le dernier planning généré ?" class="btn btn-raised btn-sm btn-danger"><i class="glyphicon glyphicon-remove"></i></a>-->
				<div ng-hide="noParticipants" class="csv_file_name">Fichier csv : {{planning.csv_file}}</div>

			</h1>
		</div>
	</div>

	<form ng-show="showImportButton" id="formUpload" method="POST"
		enctype="multipart/form-data" action="{{ uploadFileURL }}">
		<div class="row">
			<input style="display: inline;" id="upload_file" type="file" name="file"  accept=".csv" onchange="ValidateSingleInput(this);"/>
			<button title="Aide fichier CSV" type="button" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#myModal"><i class="glyphicon glyphicon-info-sign"></i></button>
		</div>
		<input
			type="hidden" name="planningId" value="{{ planning.id }}" />
	</form>
	
	<div ng-show="showImportButton" class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  	<div ng-show="showImportButton" class="modal-dialog modal-lg" role="document">
    <div ng-show="showImportButton" class="modal-content" >
      <div class="modal-header">

        <button  type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4  class="modal-title" id="myModalLabel">Importer un fichier CSV</h4>
		  </div>
      <div class="modal-body">
       	<img style="max-width: 100%;" src="app/images/donnees.png" />
       	<br/><br/>
		  <p>Vérifier que: </p>
          <p>- l'étudiant est dans le LDAP</p>
		  <p>- le fichier à importer est bien un fichier .csv</p>
		  <p>- les séparateurs du fichier CSV sont des virgules</p>
	  </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
	<uib-tabset justified="true">
		<uib-tab heading="Participants" class="btn btn-xs btn-raised btn-primary">
	<div class="row">
		<div class="col-md-12 col-sm-12">
		
		<div ng-show="errorImport" class="alert alert-danger" role="alert">
				Une erreur est survenue lors de l'import CSV
			<p> Vérifiez que le séparateur dans le fichier csv est bien une virgule ","<p>
				
				<img style="max-width: 100%;" src="app/images/donnees.png" />
       	<br/><br/>
       	<p>Le champ "Etudiant" et "Tuteur-Entreprise" doit contenir une adresse électronique (de la forme prenom.nom@univ-rennes1.fr) qui doit être reconnue par le LDAP.</p>
     </div>

			<div ng-show="errorValidate" class="alert alert-danger" role="alert">
				Impossible de générer ce planning. Veuillez vérifier que ce planning
				comporte suffisamment de salles et que la période est suffisamment
				large pour pouvoir gérer autant de participants</div>

			<div ng-show="errorNoParticipant" class="alert alert-danger"
				role="alert">Veuillez importer une liste de participants.</div>

			<div ng-show="errorNoRoom" class="alert alert-danger" role="alert">
				Veuillez indiquer une liste de salles disponibles.</div>




			<!-- <div class="alert alert-info" role="alert" style="margin-top:5px">
				<h3>Informations concernant le fichier CSV d'import de participants</h3>
				<ul>
					<li>Le fichier d'import doit être de type <b>.csv</b></li>
					<li>Les têtes de colonnes sont <b>obligatoires</b> et doivent être strictement dans l'ordre suivant: <br />
					<b>Adresse mail de l'étudiant | Nom de l'étudiant | Prénom de l'étudiant | Entreprise + lieu | Adresse mail du tuteur enseignant | Nom prénom du tuteur entreprise | </b></li>
				</ul>
			</div> -->

			<div ng-hide="noParticipants" class="table-responsive" style="margin-top: 20px;">
				<table class="table table-striped table-bordered table-hover">
					<thead>
						<tr>
							<th>#</th>
							<th>Etudiant</th>
							<th>Tuteur Entreprise</th>
							<th>Tuteur ISTIC</th>
						</tr>
					</thead>
					<tbody>
						<tr ng-repeat="participant in participants">
							<td>{{ $index+1 }}</td>
							<td>{{ participant.student.person.firstName }} {{
								participant.student.person.lastName }}</td>
							<td
								ng-style="participant.student.unavailabilitiesNumber !== 0 && {'background-color': '#ccdcff'}">{{ participant.tutorFullName }} - {{ participant.company }}<button ng-click="showUnavailabilities(participant.student.person)"
																																																  data-toggle="modal" data-target="#modalUnavailabilities" style="float:right" class="label label-default">{{participant.student.unavailabilitiesNumber }} indisponibilité(s)</button></td>
							<td ng-style="participant.followingTeacher.unavailabilitiesNumber !== 0 && {'background-color': '#ccdcff'}">{{ participant.followingTeacher.person.firstName }} {{
								participant.followingTeacher.person.lastName }} <button ng-click="showUnavailabilities(participant.followingTeacher.person)"
																						data-toggle="modal" data-target="#modalUnavailabilities" style="float:right" class="label label-default">{{
									participant.followingTeacher.unavailabilitiesNumber }} indisponibilité(s)</button></td>
						</tr>
					</tbody>
				</table>
			</div>

			<div class="modal fade" id="modalUnavailabilities" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
				<div class="modal-dialog modal-lg" role="document">
					<div id="unavailabilities" class="panel panel-danger">
						<div class="panel-heading">
							<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
							<h3 class="panel-title">Indisponibilités de {{currentUser}}</h3>
						</div>
						<div class="panel-body" style="overflow-x: scroll;">
							<table class="table" style="text-align: center;">
								<thead>
								<th></th>
								<th ng-repeat="column in columns" style="text-align: center;">
									{{ column }}
								</th>
								</thead>
								<tbody>
								<tr ng-repeat="entry in agenda">
									<td>
										{{ entry.line }}
									</td>
									<td ng-repeat="day in entry.days">
										<div class="checkbox">
											<label>
												<input type="checkbox" id="checkbox-indispo" ng-model="day.checked" ng-click="day.submit()" disabled>
											</label>
										</div>
									</td>
								</tr>
								</tbody>
							</table>
							<div class="row" id="unavailibities-spinner">
								<div class="col-md-2 col-md-offset-5">
									<img src="app/images/spin.svg">
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	</uib-tab>
		<uib-tab heading="Configuration" class="btn btn-xs btn-raised btn-primary">

	<div ng-controller="ConfigurationCtrl">
		<div class="row">
			<div class="col-md-12 col-sm-=12">
				<div class="panel panel-default">
					<div class="panel-body">
						<div class="page-header">
							<h2>Gestion des salles</h2>
						</div>
						<div class="row">
							<div class="col-lg-4">
								<i>Sélectionnez les salles parmis la liste ci dessous:</i>
								<div ng-dropdown-multiselect="" options="allRooms"
									 selected-model="selectedRooms" translation-texts="settings"></div>
								{{ selectedRooms.id }}
							</div>
							<div class="col-lg-6">
								<i>Ajoutez une salle si elle n'y figure pas:</i>
								<div class="input-group">
									<input ng-model="newRoom.name" type="text" class="form-control"
										placeholder="Nouvelle salle..."> <span
										class="input-group-btn">
										<div class="input-group-btn">
											<button ng-click="addRoom()" class="btn btn-raised btn-sm btn-success"
												type="button">Ajouter salle</button>
										</div>

									</span>
								</div>
							</div>
						</div>
						<hr />

						<div class="page-header">
							<h2>Gestion des priorités</h2>
							<i>Glissez-déposez pour prioriser les contraintes, par ordre décroissant d'importance</i>
							<div class="row">
								<div class="col-md-10">
									<ul id="contraintesList" class="list-unstyled">
										<li ng-repeat="p in planning.priorities | orderBy:'-weight'" class="panel panel-info">
											<div class="panel-heading" id="{{p.id}}">{{p.role}}</div>
										</li>
									</ul>
								</div>
							</div>

						</div>

						<button class="btn btn-raised btn-sm btn-success pull-right"
							ng-click="submit()">Valider</button>


						<a confirmed-click="remove()"
							ng-confirm-click="Êtes vous sûr de vouloir supprimer ce planning?"
							style="float: right" class="btn btn-raised btn-sm btn-danger">Supprimer
							planning</a>

						<flash-message duration="5000"></flash-message>
					</div>
				</div>





				<!--div class="row" style="margin-top: 20px;">

				<div class="col-md-6">

					<div ng-show="errorCantDeleteRoom" class="alert alert-danger"
						role="alert">La salle est li&eacute;e &agrave; un projet et
						ne peut &ecirc;tre supprim&eacute;e.</div>


				</div>
			</div>
			<div class="row" style="margin-top: 20px;">
				<div class="col-md-3">

					<div ng-repeat="room in rooms" class="input-group"
						style="margin-bottom: 10px;">
						<table>
							<tr>
								<td>
									<button ng-click="deleteRoom(room)" class="input-group-addon"
										type="button">X</button>
								</td>
								<td><span class="input-group-addon"> <input
										type="checkbox" aria-label="..." ng-model="room.isChecked"
										ng-click="submit()" /></span></td>
								<td><label class="form-control">{{ room.name }}</label></td>
							</tr>
						</table>
					</div>

				</div> -->
			</div>

		</div>

		<!--div>
			<div class="panel-heading">
				<h3 class="panel-title">Priorités</h3>
			</div>
			<div class="panel-body">
				<!-- 	<div ng-repeat="priority in planning.priorities" class="row" style="margin-bottom: 15px;">
				<div class="col-md-3">
					<div class="input-group">
						<span class="input-group-addon">{{ priority.role }}</span>
					 	<input type="text" class="form-control spinner" ng-model="priority.weight" />
					</div>
				</div>
			</div>
				<ul id="sortable">
					<li ng-repeat="priority in planning.priorities"
						class="ui-state-default" id="{{ priority.role }}">{{
						priority.role }}</li>
				</ul>


			</div>
		</div>  -->

	</div>
	</uib-tab>
		<uib-tab heading="DRAFT" class="btn btn-xs btn-raised btn-primary">
			<div ng-controller="DraftCtrl">
				<table class="table table-striped table-bordered table-hover">
					<thead>
					<tr >
						<th>Planning</th>
						<th>Admin</th>
						<th>Debut</th>
						<th>Fin</th>
						<th>Actions</th>
					</tr>
					</thead>
					<tbody>
					<tr ng-repeat="draft in drafts">
						<td> {{ draft.name}}</td>
						<td>{{ draft.admin.firstName }} {{ draft.admin.lastName }}</td>
						<td>{{ draft.period.from | date:'dd/MM/yyyy' }}</td>
						<td>{{ draft.period.to | date:'dd/MM/yyyy' }}</td>
						<td>
							<a href="#/planning/switchDraft/{{ draft.id }}" class="btn btn-raised btn-sm btn-success">
								Basculer en PLAN-REF
							</a>
							<a data-toggle="tooltip" title="Modifier le draft" class="btn btn-raised btn-sm btn-info" href="#/generatedDraft/{{ draft.id }}"><i class="glyphicon glyphicon-edit"></i></a>
							<a data-toggle="tooltip" title="Créer un draft" ng-show="exported.indexOf(draft.id)!=-1" ng-hide="planning.admin.uid != user.uid" href="#/duplicateDraft/{{ draft.id }}" class="btn btn-raised btn-sm btn-info hidden-xs">
								<i class="glyphicon glyphicon-duplicate"></i>
							</a>
							<a data-toggle="tooltip" title="Supprimer le draft" confirmed-click="remove( draft.id )" ng-confirm-click="Êtes vous sûr de vouloir supprimer ce planning?" ng-hide="" class="btn btn-raised btn-sm btn-danger"><i class="glyphicon glyphicon-remove"></i></a>

						</td>
					</tr>
					</tbody>
				</table>
			</div>
		</uib-tab>
	</uib-tabset>




</div>

<!-- /. PAGE INNER  -->
</div>
<script>
    var _validFileExtensions = [".csv"];
    function ValidateSingleInput(oInput) {
        if (oInput.type == "file") {
            var sFileName = oInput.value;
            if (sFileName.length > 0) {
                var blnValid = false;
                for (var j = 0; j < _validFileExtensions.length; j++) {
                    var sCurExtension = _validFileExtensions[j];
                    if (sFileName.substr(sFileName.length - sCurExtension.length, sCurExtension.length).toLowerCase() == sCurExtension.toLowerCase()) {
                        blnValid = true;
                        break;
                    }
                }

                if (!blnValid) {
                    alert("Le fichier \"" + sFileName + "\" N'est pas valide, l'extension autorisée est: " + _validFileExtensions.join(", "));
                    oInput.value = "";
                    return false;
                }
            }
        }
        return true;
    }
</script>