
<div id="page-inner">
	<div class="row">
		<div class="col-md-12">
			<h1 class="page-head-line">
				{{ planning.name }} 
					<a ng-click="validate()"
					class="btn btn-danger btn-sm">Générer planning</a>
			</h1>
		</div>
	</div>

	<form id="formUpload" method="POST"
		enctype="multipart/form-data" action="{{ uploadFileURL }}">
		<input id="upload_file" type="file" name="file" /><br />
		<input
			type="hidden" name="planningId" value="{{ planning.id }}" />
		<input
			type="hidden" name="redirectURL" value="/#/planning/{{ planning.id }}" />
	</form>

	<uib-tabset justified="true"> <uib-tab
		heading="Participants">
	<div class="row">
		<div class="col-md-12 col-sm-12">

			<div ng-show="errorValidate" class="alert alert-danger" role="alert">
				Impossible de générer ce planning. Veuillez vérifier que ce planning
				comporte suffisamment de salles et que la période est suffisamment
				large pour pouvoir gérer autant de participants</div>

			<div ng-show="errorNoParticipant" class="alert alert-danger"
				role="alert">Veuillez importer une liste de participants.</div>

			<div ng-show="errorNoRoom" class="alert alert-danger" role="alert">
				Veuillez indiquer une liste de salles disponibles.</div>




			<!-- <div class="alert alert-info" role="alert" style="margin-top:5px">
				<h3>Informations concernant le fichier CSV d'import de participants</h3>
				<ul>
					<li>Le fichier d'import doit être de type <b>.csv</b></li>
					<li>Les têtes de colonnes sont <b>obligatoires</b> et doivent être strictement dans l'ordre suivant: <br />
					<b>Adresse mail de l'étudiant | Nom de l'étudiant | Prénom de l'étudiant | Entreprise + lieu | Adresse mail du tuteur enseignant | Nom prénom du tuteur entreprise | </b></li>
				</ul>
			</div> -->

			<div class="table-responsive" style="margin-top: 20px;">
				<table class="table table-striped table-bordered table-hover">
					<thead>
						<tr>
							<th>#</th>
							<th>Etudiant</th>
							<th>Nb d'indispo</th>
							<th>Suiveur</th>
							<th>Nb d'indispo</th>
							<th>Tuteur</th>
							<th>Entreprise</th>
						</tr>
					</thead>
					<tbody>
						<tr ng-repeat="participant in participants">
							<td>{{ $index+1 }}</td>
							<td>{{ participant.student.person.firstName }} {{
								participant.student.person.lastName }}</td>
							<td
								ng-style="participant.student.unavailabilitiesNumber !== 0 && {'background-color': '#ccdcff'}"><span>{{
									participant.student.unavailabilitiesNumber }}</span></td>
							<td>{{ participant.followingTeacher.person.firstName }} {{
								participant.followingTeacher.person.lastName }}</td>
							<td
								ng-style="participant.followingTeacher.unavailabilitiesNumber !== 0 && {'background-color': '#ccdcff'}"><span>{{
									participant.followingTeacher.unavailabilitiesNumber }}</span></td>
							<td>{{ participant.tutorFullName }}</td>
							<td>{{ participant.company }}</td>
						</tr>
					</tbody>
				</table>
			</div>

		</div>
	</div>
	</uib-tab> <uib-tab heading="Configuration">

	<div ng-controller="ConfigurationCtrl">
		<div class="row">
			<div class="col-md-12 col-sm-=12">
				<div class="panel panel-default">
					<div class="panel-body">
						<div class="page-header">
							<h2>Gestion des salles</h2>
						</div>
						<div class="row">
							<div class="col-lg-6">
								<div class="input-group">
									<input ng-model="newRoom.name" type="text" class="form-control"
										placeholder="Nouvelle salle..."> <span
										class="input-group-btn">
										<div class="input-group-btn">
											<button ng-click="addRoom()" class="btn btn-default"
												type="button">Ajouter</button>
											<button class="btn btn-default" type="button">Supprimer</button>
										</div>

									</span>
								</div>
							</div>
						</div>
						<div class="row">
							<div class="col-lg-4">
								<div ng-dropdown-multiselect="" options="allRooms"
									selected-model="selectedRooms"></div>
								{{ selectedRooms.id }}
							</div>
						</div>

						<hr />

						<div class="page-header">
							<h2>Gestion des priorités</h2>
						</div>

						<button class="btn btn-danger btn-sm pull-right"
							ng-click="submit()">Valider</button>
						

						<a confirmed-click="remove()"
							ng-confirm-click="Êtes vous sûr de vouloir supprimer ce planning?"
							style="float: right" class="btn btn-danger btn-sm">Supprimer
							planning</a>
							
						<flash-message duration="5000"></flash-message> 
					</div>
				</div>





				<!--div class="row" style="margin-top: 20px;">

				<div class="col-md-6">

					<div ng-show="errorCantDeleteRoom" class="alert alert-danger"
						role="alert">La salle est li&eacute;e &agrave; un projet et
						ne peut &ecirc;tre supprim&eacute;e.</div>

					
				</div>
			</div>
			<div class="row" style="margin-top: 20px;">
				<div class="col-md-3">

					<div ng-repeat="room in rooms" class="input-group"
						style="margin-bottom: 10px;">
						<table>
							<tr>
								<td>
									<button ng-click="deleteRoom(room)" class="input-group-addon"
										type="button">X</button>
								</td>
								<td><span class="input-group-addon"> <input
										type="checkbox" aria-label="..." ng-model="room.isChecked"
										ng-click="submit()" /></span></td>
								<td><label class="form-control">{{ room.name }}</label></td>
							</tr>
						</table>
					</div>

				</div> -->
			</div>

		</div>

		<!--div>
			<div class="panel-heading">
				<h3 class="panel-title">Priorités</h3>
			</div>
			<div class="panel-body">
				<!-- 	<div ng-repeat="priority in planning.priorities" class="row" style="margin-bottom: 15px;">
				<div class="col-md-3">
					<div class="input-group">
						<span class="input-group-addon">{{ priority.role }}</span>
					 	<input type="text" class="form-control spinner" ng-model="priority.weight" />
					</div>
				</div>
			</div>
				<ul id="sortable">
					<li ng-repeat="priority in planning.priorities"
						class="ui-state-default" id="{{ priority.role }}">{{
						priority.role }}</li>
				</ul>


			</div>
		</div>  -->


	</div>
	</uib-tab> </uib-tabset>

</div>




<!-- /. PAGE INNER  -->
</div>