<div class="row">
	<div class="col-md-12">
		<h1 class="page-head-line">{{ planning.name }}</h1>
	</div>
</div>

<div class="panel panel-danger">
	<div class="panel-heading">
		<h3 class="panel-title">Mes indisponibilités</h3>
	</div>
	<div class="panel-body">
		<table class="table" style="text-align: center;">
			<thead>
				<th></th>
				<th ng-repeat="column in columns" style="text-align: center;">
					<button type="button" class="btn btn-default"
						ng-click="submitColumn(column)">{{ column }}</button>
				</th>
			</thead>
			<tbody>
				<tr ng-repeat="entry in agenda">
					<td>
						<button type="button" class="btn btn-default"
							ng-click="entry.submit()">{{ entry.line }}</button>
					</td>
					<td ng-repeat="day in entry.days"><input type="checkbox"
						ng-model="day.checked" ng-click="day.submit()" /></td>
				</tr>
			</tbody>
		</table>
		<a ng-click="submit()" class="btn btn-raised btn-sm">Valider</a>
		<flash-message duration="5000"></flash-message> 
	</div>
</div>