
<div id="page-inner" ng-controller="planningController">
	<div class="row">
		<div class="col-md-12">
			<h1 class="page-head-line">{{ planning.name }}</h1>
		</div>
	</div>

	<div class="row">
		<div class="col-md-12 col-sm-=12">
		
			<form id="formUpload" style="display: none;" method="POST" enctype="multipart/form-data" action="{{ uploadFileURL }}">
				<input id="upload_file" type="file" name="file" /><br /> 
				<input type="hidden" name="planningId" value="{{ planning.id }}" />
				<input type="hidden" name="redirectURL" value="/public/index.html#/planning/{{ planning.id }}" />
			</form>
			
			<div ng-show="errorValidate" class="alert alert-danger" role="alert">
				Impossible de générer ce planning. Veuillez vérifier que ce planning comporte suffisamment de salles et que la période est suffisamment large pour pouvoir gérer autant de participants
			</div>
			
			<div ng-show="errorNoParticipant" class="alert alert-danger" role="alert">
				Veuillez importer une liste de participants.	
			</div>
			
			<div ng-show="errorNoRoom" class="alert alert-danger" role="alert">
				Veuillez indiquer une liste de salles disponibles.	
			</div>
			
			<input type="button" ng-click="importParticipants()" class="btn btn-danger btn-sm" value="Importer participants"/>
			<a href="index.html#/update/{{ planning.id }}" class="btn btn-danger btn-sm">Modifier</a>
			<a href="index.html#/rooms/{{ planning.id }}" class="btn btn-danger btn-sm">Gestion des salles</a>
			<a href="index.html#/priorities/{{ planning.id }}" class="btn btn-danger btn-sm">Gestion des priorités</a>
			<a href="{{ mailService }}" target="_blank" class="btn btn-danger btn-sm">Envoyer un mail</a>
			<a ng-click="validate()" class="btn btn-danger btn-sm">Générer planning</a>
			
			<div>
				<h3>Informations concernant le fichier excel d'import de participants</h3>
				<p>
					Les têtes du fichiers doivent être strictement dans l'ordre suivant: <br />
					<i>Numéro | Adresse mail de l'étudiant | Adresse mail du suiveur | Nom prénom du tuteur de stage | Entreprise + lieu</i>
				</p>
				<p>
					Le fichier d'import doit être de type <b>.xls</b>
				</p>
			</div>
			
			<div class="table-responsive" style="margin-top: 20px;">
				<table class="table table-striped table-bordered table-hover">
					<thead>
						<tr>
							<th>#</th>
							<th>Etudiant</th>
							<th>Nb d'indispo</th>
							<th>Suiveur</th>
							<th>Nb d'indispo</th>
							<th>Tuteur</th>
							<th>Entreprise</th>
						</tr>
					</thead>
					<tbody>
						<tr ng-repeat="participant in participants">
							<td>{{ $index+1 }}</td>
							<td>{{ participant.student.person.firstName }} {{ participant.student.person.lastName }}</td>
							<td>{{ participant.student.unavailabilitiesNumber }}</td>
							<td>{{ participant.followingTeacher.person.firstName }} {{ participant.followingTeacher.person.lastName }}</td>
							<td>{{ participant.followingTeacher.unavailabilitiesNumber }}</td>
							<td>{{ participant.tutorFullName }}</td>
							<td>{{ participant.company }}</td>
						</tr>
					</tbody>
				</table>
			</div>
		
		</div>
	</div>

	<!-- /. PAGE INNER  -->
</div>