
<div id="page-inner" ng-controller="planningController">
	<div class="row">
		<div class="col-md-12">
			<h1 class="page-head-line">{{ planning.name }}</h1>
		</div>
	</div>

	<div class="row">
		<div class="col-md-12 col-sm-=12">
			<form id="formUpload" style="margin-bottom:20px;" method="POST" enctype="multipart/form-data" action="{{ uploadFileURL }}">
				<input id="upload_file" type="file" name="file" style="display: none;" /><br /> 
				<input type="hidden" name="planningId" value="{{ planning.id }}" /><br /> <br />
				<input type="button" ng-click="importParticipants()" class="btn btn-primary btn-sm" value="Importer participants"/>
			</form>
			<div class="table-responsive">
				<table class="table table-striped table-bordered table-hover">
					<thead>
						<tr>
							<th>Etudiant</th>
							<th>Suiveur</th>
						</tr>
					</thead>
					<tbody>
						<tr ng-repeat="participant in participants">
							<td>{{ participant.student.firstName }} {{ participant.student.lastName }}</td>
							<td>{{ participant.followingTeacher.firstName }} {{ participant.followingTeacher.lastName }}</td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
	</div>

	<!-- /. PAGE INNER  -->
</div>