
<div id="page-inner" ng-controller="roomsController">
	<div class="row">
		<div class="col-md-12">
			<h1 class="page-head-line">{{ planning.name }}</h1>
		</div>
	</div>

	<div class="row">
		<div class="col-md-12 col-sm-=12">
		
			<div class="row" style="margin-top: 20px;">
				<div class="col-md-6">		
					<div class="input-group" style="margin-bottom: 10px;">
				      	<span class="input-group-btn">
        					<button ng-click="addRoom()" class="btn btn-default" type="button">Ajouter</button>
      					</span>
				      <input ng-model="newRoom.name" type="text" value="" class="form-control" />
				    </div><!-- /input-group -->
				</div>
			</div>
			<div class="row" style="margin-top: 20px;">
				<div class="col-md-3">
				    <div ng-repeat="room in rooms" class="input-group" style="margin-bottom: 10px;">
				      <span class="input-group-addon">
				        <input type="checkbox" aria-label="..." ng-checked="{{ room.isChecked }}" />
				      </span>
				      <label class="form-control">{{ room.name }}</label>
				    </div><!-- /input-group -->
				</div><!-- /.col-lg-6 -->
			</div>
			
		</div>
	</div>

	<!-- /. PAGE INNER  -->
</div>